{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head"}}
  <body>
    {{template "yield" .}}
    {{template "navigation"}}
    {{template "header"}}
    {{template "post-index"}}
    {{template "footer"}}
    {{template "scripts"}}
  </body>
</html>
{{end}}
